<title>Courses</title>

{% load static %}
<link rel="stylesheet" href="{% static "styles/styles.css" %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<h1 class="title-courses"  style='color:white'>Courses</h1> 
<h1  class='marlinis' style='color:yellow'>MARLINIS<h1/>
<h1  class='academy' style='color:blue'>ACADEMY<h1/>   

<body style="background-color: black;"> <!-- Agregar el estilo de fondo negro al body -->

<div class="row">
{% for course in courses %}
    <div id='cont' class="col-md-4 " style="margin-bottom: 20px;"> <!-- Agregar un margen inferior para la distancia mínima -->
        <div class="card text-center">
            <div class="d-flex justify-content-center align-items-center" style="height: 78px; font-family:impact">
                <h2 class="card-title">{{ course.title }}</h2>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="height: 68px;"> <!-- Reducir la altura de la imagen -->
                <img src="{{ course.image.url }}" alt="{{ course.title }}" class="card-img-top" style="width: 78px; height: 68px;"> <!-- Ajustar la altura de la imagen aquí -->
            </div>
            <div class="card-body">
                {% if course.url %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-success" href="{{ course.url }}">Enter</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>

</body>